mofem/doc/style.html

mofem/include/config.h
mofem/scripts/publish_doc_likask.sh
mofem/scripts/publish_doc_cdash.sh

mofem_build.sh
mofem_live_cd_check.sh
mofem_update.sh
mofem_fast_check.sh

homogenisation
fracture_mechanics
moisture_transport
ground_surface_temperature
gels
small_strain_plasticity
obsolete
solid_shell_prism_element
soft_tissue_materials
minimal_surface_equation
bone_remodelling
helmholtz
optimal_mass_transport
cell_engineering
contact_mechanics
contact_mechanics_zahur
eshelbian_plasticty

_Store
*.swp
*.swo
*.swn
*.bak
.atom-build.json
.build-tools.cson

contributors_list_modules
Dockerfile-build-um-obsolete
doxygen_warnlogfile
.vscode

core-build*
spack-build*
um-build*
.DS_Store
spack-configure-args.txt
